build
.vscode
bindata_assetfs
bindata.go
booksing
bookdump/*
dist/*
web/node_modules/*
testdata/odd-collection/*
testdata/import/big/*
.idea
*.db
booksing-creds.json
.firebaserc
firebase.json
firebase-config.js
env_vars.yaml
cmd/server/dist
*.bak
*creds.json

.env
pkged.go
