{{define "base.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>

	<title>booksing</title>

	<!-- CSS only -->
	<link rel="stylesheet" href="/static/static/bootstrap.min.css">

	<link rel='icon' type='image/png' href='/static/static/booksing.png'>

	<!-- JavaScript and dependencies -->
	<script src="/static/static/popper.min.js"></script>
	<script src="/static/static/bootstrap.min.js"></script>

</head>

<style>
</style>

{{end}}
