{{define "bookmarks.html"}}
{{template "base.html"}}

<body>
    {{template "nav.html" .}}
    <div class="container">
        <div class="table-responsive">
            <table class="table table-sm align-middle" style="overflow-x: auto; white-space: nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">author</th>
                        <th scope="col">title</th>
                        <th scope="col">added</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Books}}
                    <tr onclick="window.location='/detail/{{.Hash}}'">
                        <td>
                            <a href="/rotateShelve/{{.Hash}}?method=manual" class="rotateButton" data-hash="{{.Hash}}">
                                <img src="/static/{{.Icon}}.png" id="{{.Hash}}_icon" width="32" height="32" />
                            </a>
                        </td>
                        <td>{{crop .Author 30}}</td>
                        <td>{{crop .Title 50}}</td>
                        <td>{{.Added | relativeTime}}</td>
                        <td> <a href="/detail/{{.Hash}}">info</a> </td>
                        <td>
                            <a href="/download?hash={{.Hash}}">download</a>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

    </div>
</body>


{{template "footer.html"}}
{{end}}
