{{define "detail.html"}}
{{template "base.html"}}

<body>
    {{template "nav.html" .}}

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{.Book.Author}} - {{.Book.Title}}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Added: {{.Book.Added | prettyTime}}
                    ({{.Book.Added | relativeTime}})</h6>
                <h6 class="card-subtitle mb-2 text-muted">Language: {{.Book.Language}}</h6>
                {{if .IsAdmin}}
                <h6 class="card-subtitle mb-2 text-muted">Location: {{.Book.Path}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Size: {{.Book.Size | filesize}}</h6>
                <form method="POST" action="/admin/delete/{{.Book.Hash}}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                {{end}}
                <hr>
                {{if .Book.HasCover}}
                    <div class="img-square-wrapper">
                        <img class="" width=300 src="/cover?hash={{$.Book.Hash}}&file={{$.Book.CoverPath}}" alt="book cover">
                    </div>
                    <hr>
                {{end}}

                {{if eq .Book.Description ""}}
                No description
                {{else}}
                {{.Book.Description | nl2br}}
                <hr>
                {{end}}
                </p>
                {{ $hash := .Book.Hash }}
                {{range .ExtraPaths}}
                    {{if not (hasSuffix $.Book.CoverPath ".jpg")}}
                        Download: <a href="/download?hash={{$.Book.Hash}}&file={{.}}">{{. | filename}}</a><br>
                    {{end}}
                {{end}}
                {{if and (.CanConvert) (not (.HasMobi)) }}
                Convert to: <br />
                <form method=POST action="/convert/{{$.Book.Hash}}">
                    <select>
                        <option value="mobi">.mobi (for kindle)</option>
                    </select>
                    <input type=submit value=convert>
                </form>


                {{end}}
                <hr>
                Other books from <a href="/?q=author:{{.Book.Author}}">{{.Book.Author}}</a><br>
                {{if ne .Book.Series ""}}
                More from <a href="/?q=series:{{.Book.Series}}">{{.Book.Series}}</a><br>
                {{end}}
                {{if .IsAdmin}}
                <hr>
                <code>
                    {{.Book | json }}
                </code>
                {{end}}
                
            </div>
        </div>

    </div>
</body>


{{template "footer.html"}}
{{end}}
