{{define "editclient.html"}}
{{template "base.html"}}

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">edit {{.Client.ClientID}} (workspace: {{.Workspace}})</h1>
            <form method=POST>
                <fieldset disabled>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">ClientID</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" value="{{.Client.ClientID}}">
                                </div>
                            </div>
                        </div>
                </fieldset>


                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Soft Limit (not enforced)</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="SoftLimit" type="text" value={{.Client.Credits.SoftLimit}}>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Hard Limit (enforced)</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" name="HardLimit" type="text" value={{.Client.Credits.HardLimit}}>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Full Access?</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" value="yes" name="FullAccess"
                                        {{- if .Client.Permissions.AllowAllSources}}checked{{end}}>
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="FullAccess" value="no"
                                        {{- if not .Client.Permissions.AllowAllSources}}checked{{end}}>
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <p class="control">
                        <input type=submit class="button is-success" value="save" />
                    </p>
                    <p class="control">
                        <input type=reset class="button is-danger is-light" value="reset" />
                    </p>
                </div>
            </form>

            <a href="/clients/{{.Workspace}}">back to overview</a>
        </div>
    </section>
</body>


{{template "footer.html"}}
{{end}}
