{{define "login.html"}}
{{template "base.html"}}

<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
</style>

<body class="text-center">
    <div class="container">
        <h1 class="title">Please login first</h1>
        <h2 class="subtitle">
            <a href="/auth/google">sign in with Google</a> or <a href="/qr/login">use your phone</a>
        </h2>
    </div>
</body>


{{template "footer.html"}}
{{end}}
