{{define "nav.html"}}
<nav class="navbar navbar-light bg-light navbar-expand-lg">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      href="/"
      hx-get="/"
      hx-target=".container"
      hx-indicator=".container"
      hx-push-url="true"
    >
      <img
        src="/static/static/booksing.svg"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
        loading="lazy"
      />
      Booksing</a
    >
    <ul class="navbar-nav">
      {{if .IsAdmin}} {{if .Indexing}}
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      {{end}}
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/downloads">downloads</a>
      </li>
      {{end}}
    </ul>
    <span class="navbar-text"> Index contains {{.TotalBooks}} books </span>

    <form
      class="d-flex"
      id="submitform"
      method="GET"
      target="/"
      hx-get="/"
      hx-trigger="submit"
      hx-target=".container"
      hx-indicator=".container"
      hx-push-url="true"
    >
      <input
        class="form-control mr-2"
        name="q"
        type="search"
        placeholder="Search"
        aria-label="Search"
        value="{{.Q}}"
      />
      <button class="btn btn-primary" id="searchbutton" type="submit">
        <span id="searchtext">search</span>
      </button>
    </form>
  </div>
</nav>
{{end}}
