{{define "qr-auth.html"}}
{{template "base.html"}}

<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }
</style>

<body class="text-center">
    <div class="container">
        <h1 class="title">Please use your phone to scan this QR code</h1>
        <h2 class="subtitle">
            <a href="/qr/authorize/{{.AuthCode}}"><img src="/qr/img/{{.AuthCode}}.png"></a>
        </h2>
        <a href="/qr/poll/{{.AuthCode}}?method=manual">continue</a>
    </div>
</body>
<script>
    const checkPoll = () => {
        fetch("/qr/poll/{{.AuthCode}}")
            .then(resp => resp.json())
            .then(resp => {
                if (resp.status == "yes") {
                    window.location = "/";
                }
            });
    };
    setInterval(checkPoll, 2000);

</script>


{{template "footer.html"}}
{{end}}
