{{define "search.html"}}
{{template "base.html"}}

<body>
    {{template "nav.html" .}}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">author</th>
                    <th scope="col">title</th>
                    <th scope="col">added</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{range .Books}}
                <tr>
                    <td>{{.Author}}</td>
                    <td>{{.Title}}</td>
                    <td>{{.Added | relativeTime}}</td>
                    <td><a href="/download?hash={{.Hash}}">download</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>

        {{$moreresults := eq .Limit .Results}}
        {{$paginated := ne .Offset 0}}
        {{if or $moreresults $paginated}}
        <nav aria-label="search results navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item {{if eq .Offset 0}}disabled{{end}}">
                    <a class="page-link" href="/?{{page "prev" .Q .Offset .Limit}}">prev</a>
                </li>
                {{range Iterate .Offset .Limit .Results}}
                {{$off := index . 1}}
                {{if eq $off -1}}
                <li class="page-item disabled"><a class="page-link" href="/">..</a>
                </li>
                {{else}}
                <li class="page-item{{if eq $.Offset $off}} disabled{{end}}"><a class="page-link"
                        href="/?q={{$.Q}}&l={{$.Limit}}&o={{index . 1}}">{{index . 0}}</a>
                </li>
                {{end}}
                {{end}}
                <li class="page-item {{if ne .Limit .Results}}disabled{{end}}">
                    <a class="page-link" href="/?{{page "next" .Q .Offset .Limit}}">next</a>
                </li>
            </ul>
        </nav>
        {{end}}
    </div>
</body>


{{template "footer.html"}}
{{end}}
