{{define "search.html"}}
{{template "base.html"}}

<body>
    {{template "nav.html" .}}
    <div class="container">
        <div class="table-responsive">
            <table class="table table-sm align-middle" style="overflow-x: auto; white-space: nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">author</th>
                        <th scope="col">title</th>
                        <th scope="col">added</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Books}}
                    <tr>
                        <td>
                            <a href="/rotateShelve/{{.Hash}}?method=manual" class="rotateButton" data-hash="{{.Hash}}">
                                <img src="/icons/{{.Hash}}.png" id="{{.Hash}}_icon" width="32" height="32" />
                            </a>
                        </td>
                        <td>{{crop .Author 30}}</td>
                        <td>{{crop .Title 50}}</td>
                        <td>{{.Added | relativeTime}}</td>
                        <td><button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                data-target="#book{{.Hash}}">
                                More info
                            </button></td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="book{{.Hash}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{.Author}} - {{.Title}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Added: {{.Added | prettyTime}}
                                    <hr>
                                    {{if eq .Description ""}}
                                    No description
                                    {{else}}
                                    {{.Description}}
                                    {{end}}
                                </div>
                                <div class="modal-footer">
                                    {{if $.IsAdmin}}
                                    <form method="POST" action="/admin/delete/{{.Hash}}">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    {{end}}
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a type="button" class="btn btn-primary"
                                        href="/download?hash={{.Hash}}">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </tbody>
            </table>
        </div>

        {{$moreresults := le .Limit .Results}}
        {{if $moreresults}}
        <nav aria-label="search results navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item {{if eq .Offset 0}}disabled{{end}}">
                    <a class="page-link" href="/?{{page "prev" .Q .Offset .Limit}}">prev</a>
                </li>
                {{range Iterate .Offset .Limit .Results}}
                {{$off := index . 1}}
                {{if eq $off -1}}
                <li class="page-item disabled"><a class="page-link" href="/">..</a>
                </li>
                {{else}}
                <li class="page-item{{if eq $.Offset $off}} disabled{{end}}"><a class="page-link"
                        href="/?q={{$.Q}}&l={{$.Limit}}&o={{index . 1}}">{{index . 0}}</a>
                </li>
                {{end}}
                {{end}}
                <li class="page-item {{if ne .Limit .Results}}disabled{{end}}">
                    <a class="page-link" href="/?{{page "next" .Q .Offset .Limit}}">next</a>
                </li>
            </ul>
        </nav>
        {{end}}


    </div>
</body>

{{template "footer.html"}}
{{end}}
