{{define "stats.html"}}
{{template "base.html"}}

<body>
    {{template "nav.html" .}}

    <div class="container">
        <table class="table table-responsive align-middle table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Count</th>
                </tr>
            </thead>
            <tbody>
                {{range .Stats}}
                <tr>
                    <td>{{.Date}}</td>
                    <td>{{.Count}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>

    </div>
</body>


{{template "footer.html"}}
{{end}}
