{{define "table.html"}}
{{template "base.html"}}

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Clients</h1>
            <h2 class="subtitle">
                These are the current standings of used credits, these reset at midnight UTC.
            </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ClientID</th>
                        <th>Credits Used</th>
                        <th>Soft Limit</th>
                        <th>Hard Limit</th>
                        <th>Permissions</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Clients}}
                    <tr>
                        <td>{{.ClientID}}</td>
                        <td>{{.Credits.Used}} ({{percent .Credits.Used .Credits.SoftLimit}}%)</td>
                        <td>{{.Credits.SoftLimit}}</td>
                        <td>{{.Credits.HardLimit}}</td>
                        <td>{{if .Permissions.AllowAllSources}}everything{{end}}</td>
                        <td><a href="/edit/{{$.Workspace}}/{{.ClientID}}">edit {{.ClientID}}</a></td>
                    </tr>
                    {{end}}
                </tbody>
            </table>

            <a href=" /">select workspace</a>
        </div>
    </section>
</body>


{{template "footer.html"}}
{{end}}
