{{define "users.html"}}
{{template "base.html"}}

<body>
    {{template "nav.html" .}}

    <div class="container">
        <div class="table-responsive">
            <table class="table align-middle table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">IsAdmin</th>
                        <th scope="col">IsAllowed</th>
                        <th scope="col">Created</th>
                        <th scope="col">LastSeen</th>
                        <th scope="col">Downloads</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Users}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.IsAdmin}}</td>
                        <td>
                            {{if .IsAllowed}}
                            <form action="/admin/user/{{.Name}}" method="POST">
                                <input type="hidden" name="IsAllowed" value={{not .IsAllowed}}>
                                <button class="btn btn-outline-danger" type="submit">revoke access</button>
                            </form>
                            {{else}}
                            <form action="/admin/user/{{.Name}}" method="POST">
                                <input type="hidden" name="IsAllowed" value={{not .IsAllowed}}>
                                <button class="btn btn-outline-info" type="submit">grant access</button>
                            </form>
                            {{end}}
                        </td>
                        <td>
                            <a href="#" data-toggle="tooltip"
                                title="{{.Created | prettyTime}}">{{.Created | relativeTime}}</a>
                        </td>
                        <td>
                            <a href="#" data-toggle="tooltip"
                                title="{{.LastSeen | prettyTime}}">{{.LastSeen | relativeTime}}</a>
                        </td>
                        <td>{{.Downloads}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <form class="d-flex" action="/admin/adduser" method="post">
            <input class="form-control mr-2" name="Name" placeholder="user@example.com" aria-label="email">
            <button class="btn btn-outline-info" type="submit">add&nbsp;user</button>
        </form>

    </div>
</body>


{{template "footer.html"}}
{{end}}
