<!DOCTYPE html>
<html lang="en">
  <head>
    <title>booksing</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="booksing.css">

    <!-- Bootstrap CSS -->
  </head>
<body>

<!-- template for the modal component -->

<script type="x/template" id="modal-template">
  <transition name="modal">
      <div class="modal-mask" @click="close" v-show="show">
          <div class="modal-container" @click.stop>
              <div class="modal-header">
                  <h3>Configuration</h3>
              </div>
              <div class="modal-body">
                  <label class="form-label" v-if="enableSend">
                      email address:
                      <input class="form-control" v-model="email">
                  </label>
                  <label class="form-label" v-if="enableSend">
                      mail server smtp address
                      <input class="form-control" v-model="smtpserver">
                  </label>
                  <label class="form-label" v-if="enableSend">
                      mail server username
                      <input class="form-control" v-model="smtpuser">
                  </label>
                  <label class="form-label" v-if="enableSend">
                      mail server password
                      <input class="form-control" type="password" v-model="smtppass">
                  </label>
                  <label class="form-label">
                      number of results per page
                      <input class="form-control" type="number" v-model="resultcount">
                  </label>
                  <label class="form-label">
                      <input class="toggle" type="checkbox" v-model="convert">
                      convert to mobi
                  </label>
                  <label class="form-label">
                      <input class="toggle" type="checkbox" v-model="enableSend">
                      show send button
                  </label>
              </div>
              <div class="modal-footer text-right">
                  <button class="modal-default-button" @click="savePost()">
                      Save
                  </button>
              </div>
          </div>
      </div>
  </transition>
</script>

<div id="app" class="container">
    <modal :show="showModal" @close="showModal = false"></modal>
  <div class="row">
    <form action="javascript:void()" onsubmit="return false">
      <div class="nine columns">
        <input v-model="searchstring" id="search" placeholder="type here to search" type="text">
        <a class="button" v-on:click.stop="refreshBooklist">{{ refreshButtonText }}</a>
        <a class="button" @click="showModal = true">configure</a>
        <div v-if="searchDone">
          {{ books.length }} results <span v-if="total != books.length">({{ total }} books searched)</span>
        </div>
        <div v-else>
          {{ statusMessage }}
        </div>
      </div>
    </form>
  </div>
  <div class="row" v-if="descriptionVisible" @click="descriptionVisible = false"><pre>{{description}}</pre></div>
    <div class="row" v-if="searchDone">
      <div class="nine columns">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>author</th>
              <th>title</th>
              <th v-if="enableSend">action</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <template v-for="book in books">
            <tr>
              <td>{{ book.author }}</td>
              <td>{{ book.title }} </td>
              <td v-if="enableSend">
                <a class="button button-primary" v-on:click.stop="sendBookToKindle(book.id)">send
                <span v-if="book.hasmobi">✓</span>
                <span v-else>✗</span></a>
              </td>
              <td>
                <a class="button button-primary" v-on:click.stop="showDescription(book)" v-if="book.description != 'Unknown'">description</a>
              </td>
              <td>
                <a class="button button-primary" :href="'/download/?book=' + book.filename">download</a>
              </td>
            </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <script src="axios.min.js"></script>
  <script src="lodash.min.js"></script>
  <script src="vue.min.js"></script>
  <script src="smarts.js"></script>
</body>
</html>
