[Unit]
Description=booksing
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/var/lib/booksing

Environment=GOMAXPROCS=4
Environment=GIN_MODE=release

Environment=BOOKSING_ACCEPTEDLANGUAGES="nl,en"
Environment=BOOKSING_ADMINUSER='unknown'
Environment=BOOKSING_ALLOWALLUSERS=true
Environment=BOOKSING_BINDADDRESS=":7132"
Environment=BOOKSING_BOOKDIR="/var/lib/booksing/books"
Environment=BOOKSING_DATABASEDIR="/var/lib/booksing/db"
Environment=BOOKSING_FAILDIR="/var/lib/booksing/failed"
Environment=BOOKSING_IMPORTDIR="/var/lib/booksing/import"
Environment=BOOKSING_LOGLEVEL=info
Environment=BOOKSING_MAXSIZE="50000000"
Environment=BOOKSING_TIMEZONE="Europe/Amsterdam"

#if you use cloudflare access in front of booksing, you can use this to get the e-mail addresses 
#of your users and restrict/allow access based on that
Environment=BOOKSING_USERHEADER="Cf-Access-Authenticated-User-Email"

LimitNOFILE=65536

Restart=always
ExecStart=/usr/local/bin/booksing
KillSignal=SIGINT
PrivateDevices=true
ReadWriteDirectories=/var/lib/booksing


[Install]
WantedBy=multi-user.target
